/** Global */

/* Scrollbar styling */

/* Works on Firefox */
body {
  scrollbar-width: var(--cds-spacing-04);
  scrollbar-color: var(--cds-interactive-01) auto;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: var(--cds-spacing-04);
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cds-interactive-01);
}

/** Typo */
p {
  margin-bottom: var(--cds-spacing-03);
}

/** Forms */
.inline-form .bx--form-item {
  min-width: 13rem;
}

@media (min-width: 407px) {
  .inline-form {
    display: inline-flex;
  }
}

@media (min-width: 518px) {
  .inline-form .bx--form-item {
    min-width: 20rem;
  }
}

/** Components */
.game-tile {
  height: 100%;
}
.game-tile.fav {
  outline: 2px solid var(--cds-interactive-01);
}
.game-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: bottom right;
}

.custom-tag-wrapper {
  display: block;
}
.custom-tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--cds-ui-02);
  margin: 2px 2px 2px 0;
  padding: 2px 3px;
  width: 100%;
  max-width: max-content;
  font-size: var(--cds-caption-01-font-size);
}
.embedGame-row {
  padding-top: var(--cds-spacing-06);
  padding-bottom: var(--cds-spacing-10);
}
.embedGame {
  width: 100%;
  height: 100%;
  min-height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.embedGame-none {
  display: none;
}
loading-wrapper {
  max-height: 76vh;
}

#anchorEmbedGame::before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}
.iframe-wrapper {
  height: 100%;
  background-color: var(--cds-ui-01);
  transition: height 3s ease;
}
