/** Global */

/** Typo */
p {
  margin-bottom: var(--cds-spacing-03);
}

/** Forms */
@media (min-width: 518px) {
  .inline-form {
    display: inline-flex;
  }

  .inline-form .bx--form-item {
    min-width: 20rem;
  }
}

/** Other */
.game-tile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
