/** Global */
/* ibm-plex-sans-100 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-100italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-100italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-100italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-200 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-200italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 200;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-200italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-200italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-300 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-300italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-500 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-500italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-600italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-700 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-700italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/ibm-plex-sans/ibm-plex-sans-v14-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Scrollbar styling */

/* Works on Firefox */
body {
  scrollbar-width: var(--cds-spacing-04);
  scrollbar-color: var(--cds-interactive-01) auto;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: var(--cds-spacing-04);
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cds-interactive-01);
}

/** Typo */
p {
  margin-bottom: var(--cds-spacing-03);
}

/** Forms */
.inline-form .bx--form-item {
  min-width: 13rem;
}

@media (min-width: 407px) {
  .inline-form {
    display: inline-flex;
  }
}

@media (min-width: 518px) {
  .inline-form .bx--form-item {
    min-width: 20rem;
  }
}

/** Components */
.game-tile {
  height: 100%;
}
.game-tile.fav {
  outline: 2px solid var(--cds-interactive-01);
}
.game-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: bottom right;
}

.custom-tag-wrapper {
  display: block;
}
.custom-tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--cds-ui-02);
  margin: 2px 2px 2px 0;
  padding: 2px 3px;
  width: 100%;
  max-width: max-content;
  font-size: var(--cds-caption-01-font-size);
}
.embedGame-row {
  padding-top: var(--cds-spacing-06);
  padding-bottom: var(--cds-spacing-10);
}
.embedGame {
  width: 100%;
  height: 100%;
  min-height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.embedGame-none {
  display: none;
}
loading-wrapper {
  max-height: 76vh;
}

#anchorEmbedGame::before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}
.iframe-wrapper {
  height: 100%;
  background-color: var(--cds-ui-01);
  transition: height 3s ease;
}
